name: Build Github Pages

on:
  workflow_call:
    secrets:
      GHPAGES_GITHUB_TOKEN:
        required: true
      GPG_PRIVATE_KEY:
        required: true
      GPG_KEY_NAME:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    container: fedora:latest
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - run: sudo yum install -y createrepo git rpm-sign pinentry
      - run: bin/build-rpm-repo.sh
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_KEY_NAME: ${{ secrets.GPG_KEY_NAME }}
      - run: find docs
      - uses: actions/upload-artifact@v5
        with:
          name: docs
          path: ./docs/
      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GHPAGES_GITHUB_TOKEN }}
          publish_dir: ./docs
